<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="mailapp.entrypoints"
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            applicationId="vn.enclave.peyton.fusion.mailapp"
            id="mailapp.entrypoint"
            path="/fusion">
      </entrypoint>
   </extension>
   <extension
         id="vn.enclave.peyton.fusion.mailapp"
         point="org.eclipse.core.runtime.applications">
      <application
            thread="main"
            cardinality="singleton-global"
            visible="true">
         <run
               class="vn.enclave.peyton.fusion.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="vn.enclave.peyton.fusion.ProjectPerspective"
            icon="icons/project.png"
            id="vn.enclave.peyton.fusion.projectPerspective"
            name="Project">
      </perspective>
      <perspective
            class="vn.enclave.peyton.fusion.TemplatePerspective"
            icon="icons/template.png"
            id="vn.enclave.peyton.fusion.templatePerspective"
            name="Template">
      </perspective>
      <perspective
            class="vn.enclave.peyton.fusion.SystemPerspective"
            icon="icons/system.png"
            id="vn.enclave.peyton.fusion.systemPerspective"
            name="System">
      </perspective>
      <perspective
            class="vn.enclave.peyton.fusion.UserPerspective"
            icon="icons/group_users.png"
            id="vn.enclave.peyton.fusion.userPerspective"
            name="Users">
      </perspective>
      <perspective
            class="vn.enclave.peyton.fusion.LogoutPerspective"
            icon="icons/logout.png"
            id="vn.enclave.peyton.fusion.logoutPerspective"
            name="Logout">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="vn.enclave.peyton.fusion.category.treeViewPart"
            class="vn.enclave.peyton.fusion.view.NavigationViewPart"
            icon="icons/project.png"
            id="vn.enclave.peyton.fusion.view.navigationViewPart"
            name="Projects"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="vn.enclave.peyton.fusion.category.tableViewPart"
            class="vn.enclave.peyton.fusion.view.DeviceTableViewPart"
            icon="icons/device.png"
            id="vn.enclave.peyton.fusion.view.deviceTableViewPart"
            name="Devices"
            restorable="true">
      </view>
      <category
            id="vn.enclave.peyton.fusion.category.treeViewPart"
            name="Tree">
      </category>
      <category
            id="vn.enclave.peyton.fusion.category.tableViewPart"
            name="Table">
      </category>
      <view
            allowMultiple="true"
            category="vn.enclave.peyton.fusion.category.treeViewPart"
            class="vn.enclave.peyton.fusion.view.DriverTreeViewPart"
            icon="icons/maintenance.png"
            id="vn.enclave.peyton.fusion.view.driverTreeViewPart"
            name="Drivers"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="vn.enclave.peyton.fusion.category.treeViewPart"
            class="vn.enclave.peyton.fusion.view.AreaTreeViewPart"
            icon="icons/area_template.png"
            id="vn.enclave.peyton.fusion.view.areaTreeViewPart"
            name="Area"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="vn.enclave.peyton.fusion.category.tableViewPart"
            class="vn.enclave.peyton.fusion.view.ServiceTableViewPart"
            icon="icons/service.png"
            id="vn.enclave.peyton.fusion.view.serviceTableViewPart"
            name="Services"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="vn.enclave.peyton.fusion.category.tableViewPart"
            class="vn.enclave.peyton.fusion.view.SceneTableViewPart"
            icon="icons/scene.png"
            id="vn.enclave.peyton.fusion.view.sceneTableViewPart"
            name="Scenes"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="vn.enclave.peyton.fusion.category.tableViewPart"
            class="vn.enclave.peyton.fusion.view.RuleTableViewPart"
            icon="icons/rule.png"
            id="vn.enclave.peyton.fusion.view.ruleTableViewPart"
            name="Rules"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="vn.enclave.peyton.fusion.category.leftToolbar"
            defaultHandler="vn.enclave.peyton.fusion.handler.ExportHandler"
            id="vn.enclave.peyton.fusion.handler.export"
            name="Export">
      </command>
      <command
            categoryId="vn.enclave.peyton.fusion.category.leftToolbar"
            defaultHandler="vn.enclave.peyton.fusion.handler.DeployHandler"
            id="vn.enclave.peyton.fusion.handler.deploy"
            name="Deploy">
      </command>
      <command
            categoryId="vn.enclave.peyton.fusion.category.leftToolbar"
            defaultHandler="vn.enclave.peyton.fusion.handler.ReportHandler"
            id="vn.enclave.peyton.fusion.handler.report"
            name="Report">
      </command>
      <command
            categoryId="vn.enclave.peyton.fusion.category.leftToolbar"
            defaultHandler="vn.enclave.peyton.fusion.handler.HelpLinkHandler"
            id="vn.enclave.peyton.fusion.handler.helpLinks"
            name="Help Links">
      </command>
      <command
            categoryId="vn.enclave.peyton.fusion.category.rightToolbar"
            defaultHandler="vn.enclave.peyton.fusion.handler.SystemHandler"
            id="vn.enclave.peyton.fusion.handler.system"
            name="System">
      </command>
      <category
            id="vn.enclave.peyton.fusion.category.leftToolbar"
            name="Left Toolbar">
      </category>
      <category
            id="vn.enclave.peyton.fusion.category.rightToolbar"
            name="Right Toolbar">
      </category>
      <command
            defaultHandler="vn.enclave.peyton.fusion.handler.StatusHandler"
            id="vn.enclave.peyton.fusion.handler.status"
            name="Status">
      </command>
      <command
            categoryId="vn.enclave.peyton.fusion.category.projectTree"
            defaultHandler="vn.enclave.peyton.fusion.handler.RefreshHandler"
            id="vn.enclave.peyton.fusion.handler.refresh"
            name="Refresh">
      </command>
      <category
            id="vn.enclave.peyton.fusion.category.projectTree"
            name="Project Tree">
      </category>
      <command
            categoryId="vn.enclave.peyton.fusion.category.projectTree"
            id="vn.enclave.peyton.fusion.handler.showDevice"
            name="Show Devices">
      </command>
      <command
            categoryId="vn.enclave.peyton.fusion.category.projectTree"
            defaultHandler="vn.enclave.peyton.fusion.handler.AddFolderHandler"
            id="vn.enclave.peyton.fusion.handler.addFolder"
            name="Add Folder">
      </command>
      <command
            categoryId="vn.enclave.peyton.fusion.category.projectTree"
            defaultHandler="vn.enclave.peyton.fusion.handler.CloneVersionHandler"
            id="vn.enclave.peyton.fusion.handler.cloneVersion"
            name="Clone Version">
      </command>
      <command
            categoryId="vn.enclave.peyton.fusion.category.projectTree"
            defaultHandler="vn.enclave.peyton.fusion.handler.SaveAsHandler"
            id="vn.enclave.peyton.fusion.handler.saveAs"
            name="Save As">
      </command>
      <command
            categoryId="vn.enclave.peyton.fusion.category.projectTree"
            defaultHandler="vn.enclave.peyton.fusion.handler.DeleteHandler"
            id="vn.enclave.peyton.fusion.handler.delete"
            name="Delete">
      </command>
      <command
            categoryId="vn.enclave.peyton.fusion.category.deviceTable"
            defaultHandler="vn.enclave.peyton.fusion.handler.AddHandler"
            id="vn.enclave.peyton.fusion.handler.add"
            name="Add">
      </command>
      <category
            id="vn.enclave.peyton.fusion.category.deviceTable"
            name="Device Table">
      </category>
      <command
            categoryId="vn.enclave.peyton.fusion.category.deviceTable"
            defaultHandler="vn.enclave.peyton.fusion.handler.CopyHandler"
            id="vn.enclave.peyton.fusion.handler.copy"
            name="Copy">
      </command>
      <command
            categoryId="vn.enclave.peyton.fusion.category.deviceTable"
            defaultHandler="vn.enclave.peyton.fusion.handler.ImportDeviceHandler"
            id="vn.enclave.peyton.fusion.handler.importDevice"
            name="Import Devices">
      </command>
      <command
            categoryId="vn.enclave.peyton.fusion.category.deviceTable"
            defaultHandler="vn.enclave.peyton.fusion.handler.ImportZWaveHandler"
            id="vn.enclave.peyton.fusion.handler.importZWave"
            name="Import ZWave">
      </command>
      <command
            categoryId="vn.enclave.peyton.fusion.category.deviceTable"
            id="vn.enclave.peyton.fusion.handler.templateChild"
            name="Template Child">
      </command>
      <command
            categoryId="vn.enclave.peyton.fusion.category.deviceTable"
            defaultHandler="vn.enclave.peyton.fusion.handler.ExpandHandler"
            id="vn.enclave.peyton.fusion.handler.expand"
            name="Expand">
      </command>
      <command
            categoryId="vn.enclave.peyton.fusion.category.deviceTable"
            defaultHandler="vn.enclave.peyton.fusion.handler.CollapseHandler"
            id="vn.enclave.peyton.fusion.handler.collapse"
            name="Collapse">
      </command>
      <command
            categoryId="vn.enclave.peyton.fusion.category.deviceTable"
            defaultHandler="vn.enclave.peyton.fusion.handler.DeviceChangedHandler"
            id="vn.enclave.peyton.fusion.handler.deviceChanged"
            name="Device Changed">
      </command>
      <command
            categoryId="vn.enclave.peyton.fusion.category.deviceTable"
            defaultHandler="vn.enclave.peyton.fusion.handler.RequestOnlineStatusHandler"
            id="vn.enclave.peyton.fusion.handler.requestOnlineStatus"
            name="Request Online Status">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.trim.command1">
         <toolbar
               id="vn.enclave.peyton.fusion.toolbarLeft">
            <command
                  commandId="vn.enclave.peyton.fusion.handler.export"
                  icon="icons/export.png"
                  label="Export"
                  mode="FORCE_TEXT"
                  style="push">
            </command>
            <command
                  commandId="vn.enclave.peyton.fusion.handler.deploy"
                  icon="icons/deployunit_project.png"
                  label="Deploy"
                  mode="FORCE_TEXT"
                  style="push">
            </command>
            <command
                  commandId="vn.enclave.peyton.fusion.handler.report"
                  icon="icons/report.png"
                  label="Report"
                  mode="FORCE_TEXT"
                  style="push">
            </command>
            <separator
                  name="vn.enclave.peyton.fusion.separator"
                  visible="true">
            </separator>
            <command
                  commandId="vn.enclave.peyton.fusion.handler.helpLinks"
                  icon="icons/help.png"
                  label="Help Links"
                  mode="FORCE_TEXT"
                  style="pulldown">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.trim.status?insertBefore=org.eclipse.jface.action.StatusLineManager">
         <toolbar
               id="vn.enclave.peyton.fusion.toolbarStatus">
            <command
                  commandId="vn.enclave.peyton.fusion.handler.status"
                  icon="icons/status-info.png"
                  label="Status"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:vn.enclave.peyton.fusion.view.navigationViewPart">
         <command
               commandId="vn.enclave.peyton.fusion.handler.refresh"
               icon="icons/refresh.png"
               style="push">
         </command>
         <separator
               name="vn.enclave.peyton.fusion.separator1"
               visible="true">
         </separator>
         <command
               commandId="vn.enclave.peyton.fusion.handler.showDevice"
               icon="icons/show_devices.png"
               style="push">
         </command>
         <separator
               name="vn.enclave.peyton.fusion.separator2"
               visible="true">
         </separator>
         <command
               commandId="vn.enclave.peyton.fusion.handler.addFolder"
               icon="icons/add_folder.png"
               style="push">
         </command>
         <separator
               name="vn.enclave.peyton.fusion.separator3"
               visible="true">
         </separator>
         <command
               commandId="vn.enclave.peyton.fusion.handler.cloneVersion"
               icon="icons/clone_version.png"
               style="push">
         </command>
         <command
               commandId="vn.enclave.peyton.fusion.handler.saveAs"
               icon="icons/save_as.png"
               style="push">
         </command>
         <command
               commandId="vn.enclave.peyton.fusion.handler.delete"
               icon="icons/delete.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:vn.enclave.peyton.fusion.view.deviceTableViewPart">
         <command
               commandId="vn.enclave.peyton.fusion.handler.refresh"
               icon="icons/refresh.png"
               style="push">
         </command>
         <separator
               name="vn.enclave.peyton.fusion.separator1"
               visible="true">
         </separator>
         <command
               commandId="vn.enclave.peyton.fusion.handler.add"
               icon="icons/add.png"
               style="push">
         </command>
         <command
               commandId="vn.enclave.peyton.fusion.handler.copy"
               icon="icons/copy.png">
         </command>
         <command
               commandId="vn.enclave.peyton.fusion.handler.delete"
               icon="icons/delete.png"
               style="push">
         </command>
         <separator
               name="vn.enclave.peyton.fusion.separator2"
               visible="true">
         </separator>
         <command
               commandId="vn.enclave.peyton.fusion.handler.importDevice"
               icon="icons/import-devices.png"
               style="push">
         </command>
         <command
               commandId="vn.enclave.peyton.fusion.handler.importZWave"
               icon="icons/import_zwave.png"
               style="push">
         </command>
         <command
               commandId="vn.enclave.peyton.fusion.handler.templateChild"
               icon="icons/template_child.png"
               style="push">
         </command>
         <command
               commandId="vn.enclave.peyton.fusion.handler.export"
               icon="icons/export.png"
               style="push">
         </command>
         <separator
               name="vn.enclave.peyton.fusion.separator3"
               visible="true">
         </separator>
         <command
               commandId="vn.enclave.peyton.fusion.handler.system"
               icon="icons/system.png"
               style="push">
         </command>
         <command
               commandId="vn.enclave.peyton.fusion.handler.expand"
               icon="icons/expand.png"
               style="push">
         </command>
         <command
               commandId="vn.enclave.peyton.fusion.handler.collapse"
               icon="icons/collapse.png"
               style="push">
         </command>
         <separator
               name="vn.enclave.peyton.fusion.separator4"
               visible="true">
         </separator>
         <command
               commandId="vn.enclave.peyton.fusion.handler.deviceChanged"
               icon="icons/device_changed.png"
               style="push">
         </command>
         <command
               commandId="vn.enclave.peyton.fusion.handler.requestOnlineStatus"
               icon="icons/request_online_status.png">
         </command>
      </menuContribution>
   </extension>

</plugin>
