<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="mailapp.entrypoints"
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            applicationId="vn.enclave.peyton.fusion.mailapp"
            id="mailapp.entrypoint"
            path="/fusion">
      </entrypoint>
   </extension>
   <extension
         id="vn.enclave.peyton.fusion.mailapp"
         point="org.eclipse.core.runtime.applications">
      <application
            thread="main"
            cardinality="singleton-global"
            visible="true">
         <run
               class="vn.enclave.peyton.fusion.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="vn.enclave.peyton.fusion.ProjectPerspective"
            icon="icons/project.png"
            id="vn.enclave.peyton.fusion.projectPerspective"
            name="Project">
      </perspective>
      <perspective
            class="vn.enclave.peyton.fusion.TemplatePerspective"
            icon="icons/template.png"
            id="vn.enclave.peyton.fusion.templatePerspective"
            name="Template">
      </perspective>
      <perspective
            class="vn.enclave.peyton.fusion.SystemPerspective"
            icon="icons/system.png"
            id="vn.enclave.peyton.fusion.systemPerspective"
            name="System">
      </perspective>
      <perspective
            class="vn.enclave.peyton.fusion.UserPerspective"
            icon="icons/group_users.png"
            id="vn.enclave.peyton.fusion.userPerspective"
            name="Users">
      </perspective>
      <perspective
            class="vn.enclave.peyton.fusion.LogoutPerspective"
            icon="icons/logout.png"
            id="vn.enclave.peyton.fusion.logoutPerspective"
            name="Logout">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="vn.enclave.peyton.fusion.category.project.left"
            class="vn.enclave.peyton.fusion.view.NavigationViewPart"
            icon="icons/project.png"
            id="vn.enclave.peyton.fusion.view.navigationViewPart"
            name="Projects"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="vn.enclave.peyton.fusion.category.project.topRight"
            class="vn.enclave.peyton.fusion.view.DeviceTableViewPart"
            icon="icons/device.png"
            id="vn.enclave.peyton.fusion.view.deviceTableViewPart"
            name="Devices"
            restorable="true">
      </view>
      <category
            id="vn.enclave.peyton.fusion.category.project.left"
            name="Project.Left">
      </category>
      <category
            id="vn.enclave.peyton.fusion.category.project.topRight"
            name="Project.TopRight">
      </category>
      <view
            allowMultiple="true"
            category="vn.enclave.peyton.fusion.category.project.left"
            class="vn.enclave.peyton.fusion.view.DriverTreeViewPart"
            icon="icons/maintenance.png"
            id="vn.enclave.peyton.fusion.view.driverTreeViewPart"
            name="Drivers"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="vn.enclave.peyton.fusion.category.project.left"
            class="vn.enclave.peyton.fusion.view.AreaTreeViewPart"
            icon="icons/area_template.png"
            id="vn.enclave.peyton.fusion.view.areaTreeViewPart"
            name="Area"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="vn.enclave.peyton.fusion.category.project.topRight"
            class="vn.enclave.peyton.fusion.view.ServiceTableViewPart"
            icon="icons/service.png"
            id="vn.enclave.peyton.fusion.view.serviceTableViewPart"
            name="Services"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="vn.enclave.peyton.fusion.category.project.topRight"
            class="vn.enclave.peyton.fusion.view.SceneTableViewPart"
            icon="icons/scene.png"
            id="vn.enclave.peyton.fusion.view.sceneTableViewPart"
            name="Scenes"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="vn.enclave.peyton.fusion.category.project.topRight"
            class="vn.enclave.peyton.fusion.view.RuleTableViewPart"
            icon="icons/rule.png"
            id="vn.enclave.peyton.fusion.view.ruleTableViewPart"
            name="Rules"
            restorable="true">
      </view>
      <category
            id="vn.enclave.peyton.fusion.category.template.left"
            name="Template.Left">
      </category>
      <view
            category="vn.enclave.peyton.fusion.category.template.left"
            class="vn.enclave.peyton.fusion.view.AreasTemplatesViewPart"
            icon="icons/area_template.png"
            id="vn.enclave.peyton.fusion.view.areasTemplatesViewPart"
            name="Areas Templates"
            restorable="true">
      </view>
      <category
            id="vn.enclave.peyton.fusion.category.template.topRight"
            name="Template.TopRight">
      </category>
      <view
            category="vn.enclave.peyton.fusion.category.template.topRight"
            class="vn.enclave.peyton.fusion.view.DeviceTemplateViewPart"
            icon="icons/template.png"
            id="vn.enclave.peyton.fusion.view.deviceTemplatesViewPart"
            name="Device Templates"
            restorable="true">
      </view>
      <category
            id="vn.enclave.peyton.fusion.category.template.bottomRight"
            name="Template.BottomRight">
      </category>
      <view
            allowMultiple="true"
            category="vn.enclave.peyton.fusion.category.template.bottomRight"
            class="vn.enclave.peyton.fusion.view.DetailedDeviceTemplateViewPart"
            id="vn.enclave.peyton.fusion.view.DetailedDeviceTemplateViewPart"
            name="Detailed Device Template"
            restorable="true">
      </view>
      <category
            id="vn.enclave.peyton.fusion.category.project.bottomRight"
            name="Project.BottomRight">
      </category>
      <view
            allowMultiple="true"
            category="vn.enclave.peyton.fusion.category.project.bottomRight"
            class="vn.enclave.peyton.fusion.view.AddingDeviceViewPart"
            id="vn.enclave.peyton.fusion.view.addingDeviceViewPart"
            name="Adding Device"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="vn.enclave.peyton.fusion.category.project.bottomRight"
            class="vn.enclave.peyton.fusion.view.ModifyingDeviceViewPart"
            id="vn.enalve.peyton.fusion.view.modifyingDeviceViewPart"
            name="Modify Device"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="left.command.category.toolbar"
            name="Left Toolbar">
      </category>
      <command
            categoryId="left.command.category.toolbar"
            id="vn.enclave.peyton.fusion.command.export"
            name="Export">
      </command>
      <command
            categoryId="left.command.category.toolbar"
            id="vn.enclave.peyton.fusion.command.deploy"
            name="Deploy">
      </command>
      <command
            categoryId="left.command.category.toolbar"
            id="vn.enclave.peyton.fusion.command.report"
            name="Report">
      </command>
      <command
            categoryId="left.command.category.toolbar"
            id="vn.enclave.peyton.fusion.command.helpLinks"
            name="Help Links">
      </command>
      <command
            id="vn.enclave.peyton.fusion.command.status"
            name="Status">
      </command>
      <category
            id="popup.navigationViewPart"
            name="NavigationViewPart.Popup">
      </category>
      <command
            categoryId="popup.navigationViewPart"
            id="navigationViewPart.popup.newProjectHandler"
            name="NavigationViewPart.Popup.New Project">
      </command>
      <command
            categoryId="popup.navigationViewPart"
            id="navigationViewPart.popup.newVersionHandler"
            name="NavigationViewPart.Popup.NewVersion">
      </command>
      <command
            categoryId="popup.navigationViewPart"
            id="navigationViewPart.popup.saveAsHandler"
            name="NavigationViewPart.Popup.SaveAs">
      </command>
      <command
            categoryId="popup.navigationViewPart"
            id="navigationViewPart.popup.deleteVersionHandler"
            name="NavigationViewPart.Popup.DeleteVersion">
      </command>
      <category
            id="toolbar.navigationViewPart"
            name="NavigationViewPart.Toolbar">
      </category>
      <command
            categoryId="toolbar.navigationViewPart"
            id="navigationViewPart.toolbar.refresh"
            name="NavigationViewPart.Toolbar.Refresh">
      </command>
      <command
            categoryId="toolbar.navigationViewPart"
            id="navigationViewPart.toolbar.showDevice"
            name="NavigationViewPart.Toolbar.ShowDevice">
      </command>
      <command
            categoryId="toolbar.navigationViewPart"
            id="navigationViewPart.toolbar.add"
            name="NavigationViewPart.Toolbar.Add">
      </command>
      <command
            categoryId="toolbar.navigationViewPart"
            id="navigationViewPart.toolbar.cloneVersion"
            name="NavigationViewPart.Toolbar.CloneVersion">
      </command>
      <command
            categoryId="toolbar.navigationViewPart"
            id="navigationViewPart.toolbar.save"
            name="NavigationViewPart.Toolbar.Save">
      </command>
      <command
            categoryId="toolbar.navigationViewPart"
            id="navigationViewPart.toolbar.delete"
            name="NavigationViewPart.Toolbar.Delete">
      </command>
      <category
            id="toolbar.deviceTableViewPart"
            name="DeviceTableViewPart.Toolbar">
      </category>
      <command
            categoryId="toolbar.deviceTableViewPart"
            id="deviceTableViewPart.toolbar.refresh"
            name="DeviceTableViewPart.Toolbar.Refresh">
      </command>
      <command
            categoryId="toolbar.deviceTableViewPart"
            id="deviceTableViewPart.toolbar.add"
            name="DeviceTableViewPart.Toolbar.Add">
      </command>
      <command
            categoryId="toolbar.deviceTableViewPart"
            id="deviceTableViewPart.toolbar.copy"
            name="DeviceTableViewPart.Toolbar.Copy">
      </command>
      <command
            categoryId="toolbar.deviceTableViewPart"
            id="deviceTableViewPart.toolbar.delete"
            name="DeviceTableViewPart.Toolbar.Delete">
      </command>
      <command
            categoryId="toolbar.deviceTableViewPart"
            id="deviceTableViewPart.toolbar.importDevice"
            name="DeviceTableViewPart.Toolbar.ImportDevice">
      </command>
      <command
            categoryId="toolbar.deviceTableViewPart"
            id="deviceTableViewPart.toolbar.importZWave"
            name="DeviceTableViewPart.Toolbar.ImportZWave">
      </command>
      <command
            categoryId="toolbar.deviceTableViewPart"
            id="deviceTableViewPart.toolbar.templateChild"
            name="DeviceTableViewPart.Toolbar.TemplateChild">
      </command>
      <command
            categoryId="toolbar.deviceTableViewPart"
            id="deviceTableViewPart.toolbar.export"
            name="DeviceTableViewPart.Toolbar.Export">
      </command>
      <command
            categoryId="toolbar.deviceTableViewPart"
            id="deviceTableViewPart.toolbar.system"
            name="DeviceTableViewPart.Toolbar.System">
      </command>
      <command
            categoryId="toolbar.deviceTableViewPart"
            id="deviceTableViewPart.toolbar.expand"
            name="DeviceTableViewPart.Toolbar.Expand">
      </command>
      <command
            categoryId="toolbar.deviceTableViewPart"
            id="deviceTableViewPart.toolbar.collapse"
            name="DeviceTableViewPart.Toolbar.Collapse">
      </command>
      <command
            categoryId="toolbar.deviceTableViewPart"
            id="deviceTableViewPart.toolbar.deviceChanged"
            name="DeviceTableViewPart.Toolbar.DeviceChanged">
      </command>
      <command
            categoryId="toolbar.deviceTableViewPart"
            id="deviceTableViewPart.toolbar.requestOnlineStatus"
            name="DeviceTableViewPart.Toolbar.RequestOnlineStatus">
      </command>
      <category
            id="toolbar.addingDeviceViewPart"
            name="AddingDeviceViewPart.Toolbar">
      </category>
      <command
            categoryId="toolbar.addingDeviceViewPart"
            id="addingDeviceViewPart.toolbar.save"
            name="AddingDeviceViewPart.Toolbar.Save">
      </command>
      <command
            categoryId="toolbar.addingDeviceViewPart"
            id="addingDeviceViewPart.toolbar.saveAndClose"
            name="AddingDeviceViewPart.Toolbar.SaveAndClose">
      </command>
      <command
            categoryId="toolbar.addingDeviceViewPart"
            id="addingDeviceViewPart.toolbar.updateDevice"
            name="AddingDeviceViewPart.Toolbar.UpdateDevice">
      </command>
      <command
            categoryId="toolbar.addingDeviceViewPart"
            id="addingDeviceViewPart.toolbar.showDevice"
            name="AddingDeviceViewPart.Toolbar.ShowDevice">
      </command>
      <command
            categoryId="toolbar.addingDeviceViewPart"
            id="addingDeviceViewPart.toolbar.editService"
            name="AddingDeviceViewPart.Toolbar.EditService">
      </command>
      <category
            id="toolbar.areasTemplatesViewPart"
            name="AreasTemplatesViewPart.Toolbar">
      </category>
      <command
            categoryId="toolbar.areasTemplatesViewPart"
            id="areasTemplatesViewPart.toolbar.refresh"
            name="AreasTemplatesViewPart.Toolbar.Refresh">
      </command>
      <command
            categoryId="toolbar.areasTemplatesViewPart"
            id="areasTemplatesViewPart.toolbar.add"
            name="AreasTemplatesViewPart.Toolbar.Add">
      </command>
      <command
            categoryId="toolbar.areasTemplatesViewPart"
            id="areasTemplatesViewPart.toolbar.zoneAddChild"
            name="AreasTemplatesViewPart.Toolbar.ZoneAddChild">
      </command>
      <command
            categoryId="toolbar.areasTemplatesViewPart"
            id="areasTemplatesViewPart.toolbar.delete"
            name="AreasTemplatesViewPart.Toolbar.Delete">
      </command>
      <command
            categoryId="toolbar.areasTemplatesViewPart"
            id="areasTemplatesViewPart.toolbar.cut"
            name="AreasTemplatesViewPart.Toolbar.Cut">
      </command>
      <command
            categoryId="toolbar.areasTemplatesViewPart"
            id="areasTemplatesViewPart.toolbar.copy"
            name="AreasTemplatesViewPart.Toolbar.Copy">
      </command>
      <command
            categoryId="toolbar.areasTemplatesViewPart"
            id="areasTemplatesViewPart.toolbar.paste"
            name="AreasTemplatesViewPart.Toolbar.Paste">
      </command>
      <command
            categoryId="toolbar.areasTemplatesViewPart"
            id="areasTemplatesViewPart.toolbar.up"
            name="AreasTemplatesViewPart.Toolbar.Up">
      </command>
      <command
            categoryId="toolbar.areasTemplatesViewPart"
            id="areasTemplatesViewPart.toolbar.down"
            name="AreasTemplatesViewPart.Toolbar.Down">
      </command>
      <command
            categoryId="toolbar.areasTemplatesViewPart"
            id="areasTemplatesViewPart.toolbar.addAreaTemplate"
            name="AreasTemplatesViewPart.Toolbar.AddAreaTemplate">
      </command>
      <command
            categoryId="toolbar.areasTemplatesViewPart"
            id="areasTemplatesViewPart.toolbar.deleteAreaTemplate"
            name="AreasTemplatesViewPart.Toolbar.DeleteAreaTemplate">
      </command>
      <command
            categoryId="toolbar.areasTemplatesViewPart"
            id="areasTemplatesViewPart.toolbar.save"
            name="AreasTemplatesViewPart.Toolbar.Save">
      </command>
      <command
            categoryId="toolbar.areasTemplatesViewPart"
            id="areasTemplatesViewPart.toolbar.importAreaTemplate"
            name="AreasTemplatesViewPart.Toolbar.ImportAreaTemplate">
      </command>
      <category
            id="toolbar.deviceTemplatesViewPart"
            name="DeviceTemplatesViewPart.Toolbar">
      </category>
      <command
            categoryId="toolbar.deviceTemplatesViewPart"
            id="deviceTemplatesViewPart.toolbar.refresh"
            name="DeviceTemplatesViewPart.Toolbar.Refresh">
      </command>
      <command
            categoryId="toolbar.deviceTemplatesViewPart"
            id="deviceTemplatesViewPart.toolbar.templateEmpty"
            name="DeviceTemplatesViewPart.Toolbar.TemplateEmpty">
      </command>
      <command
            categoryId="toolbar.deviceTemplatesViewPart"
            id="deviceTemplatesViewPart.toolbar.addTemplate"
            name="DeviceTemplatesViewPart.Toolbar.AddTemplate">
      </command>
      <command
            categoryId="toolbar.deviceTemplatesViewPart"
            id="deviceTemplatesViewPart.toolbar.templateChild"
            name="DeviceTemplatesViewPart.Toolbar.TemplateChild">
      </command>
      <command
            categoryId="toolbar.deviceTemplatesViewPart"
            id="deviceTemplatesViewPart.toolbar.importIR"
            name="DeviceTemplatesViewPart.Toolbar.ImportIR">
      </command>
      <command
            categoryId="toolbar.deviceTemplatesViewPart"
            id="deviceTemplatesViewPart.toolbar.import"
            name="DeviceTemplatesViewPart.Toolbar.Import">
      </command>
      <command
            categoryId="toolbar.deviceTemplatesViewPart"
            id="deviceTemplatesViewPart.toolbar.export"
            name="DeviceTemplatesViewPart.Toolbar.Export">
      </command>
      <command
            categoryId="toolbar.deviceTemplatesViewPart"
            id="deviceTemplatesViewPart.toolbar.delete"
            name="DeviceTemplatesViewPart.Toolbar.Delete">
      </command>
      <command
            categoryId="toolbar.deviceTemplatesViewPart"
            id="deviceTemplatesViewPart.toolbar.system"
            name="DeviceTemplatesViewPart.Toolbar.System">
      </command>
      <command
            categoryId="toolbar.deviceTemplatesViewPart"
            id="deviceTemplatesViewPart.toolbar.expand"
            name="DeviceTemplatesViewPart.Toolbar.Expand">
      </command>
      <command
            categoryId="toolbar.deviceTemplatesViewPart"
            id="deviceTemplatesViewPart.toolbar.collapse"
            name="DeviceTemplatesViewPart.Toolbar.Collapse">
      </command>
      <command
            categoryId="toolbar.deviceTemplatesViewPart"
            id="deviceTemplatesViewPart.toolbar.hiddenTemplate"
            name="DeviceTemplatesViewPart.Toolbar.HiddenTemplate">
      </command>
      <command
            categoryId="toolbar.deviceTemplatesViewPart"
            id="deviceTemplatesViewPart.toolbar.validate"
            name="DeviceTemplatesViewPart.Toolbar.Validate">
      </command>
      <category
            id="toolbar.detailedDeviceTemplateViewPart"
            name="DetailedDeviceTemplateViewPart.Toolbar">
      </category>
      <command
            categoryId="toolbar.detailedDeviceTemplateViewPart"
            id="detailedDeviceTemplateViewPart.toolbar.save"
            name="DetailedDeviceTemplateViewPart.Toolbar.Save">
      </command>
      <command
            categoryId="toolbar.detailedDeviceTemplateViewPart"
            id="detailedDeviceTemplateViewPart.toolbar.saveAndClose"
            name="DetailedDeviceTemplateViewPart.Toolbar.SaveAndClose">
      </command>
      <command
            categoryId="toolbar.detailedDeviceTemplateViewPart"
            id="detailedDeviceTemplateViewPart.toolbar.newTemplate"
            name="DetailedDeviceTemplateViewPart.Toolbar.NewTemplate">
      </command>
      <command
            categoryId="toolbar.detailedDeviceTemplateViewPart"
            id="detailedDeviceTemplateViewPart.toolbar.templateChild"
            name="DetailedDeviceTemplateViewPart.Toolbar.TemplateChild">
      </command>
      <category
            id="toolbar.modifyingDeviceViewPart"
            name="ModifyingDeviceViewPart.Toolbar">
      </category>
      <command
            categoryId="toolbar.modifyingDeviceViewPart"
            id="modifyingDeviceViewPart.toolbar.save"
            name="ModifyingDeviceViewPart.Toolbar.Save">
      </command>
      <command
            categoryId="toolbar.modifyingDeviceViewPart"
            id="modifyingDeviceViewPart.toolbar.saveAndClose"
            name="ModifyingDeviceViewPart.Toolbar.SaveAndClose">
      </command>
      <command
            categoryId="toolbar.modifyingDeviceViewPart"
            id="modifyingDeviceViewPart.toolbar.updateDevice"
            name="ModifyingDeviceViewPart.Toolbar.UpdateDevice">
      </command>
      <command
            categoryId="toolbar.modifyingDeviceViewPart"
            id="modifyingDeviceViewPart.toolbar.showDevice"
            name="ModifyingDeviceViewPart.Toolbar.ShowDevice">
      </command>
      <command
            categoryId="toolbar.modifyingDeviceViewPart"
            id="modifyingDeviceViewPart.toolbar.editService"
            name="ModifyingDeviceViewPart.Toolbar.EditService">
      </command>
      
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.trim.command1">
         <toolbar
               id="vn.enclave.peyton.fusion.toolbarLeft">
            <command
                  commandId="vn.enclave.peyton.fusion.command.export"
                  icon="icons/export.png"
                  label="Export"
                  mode="FORCE_TEXT"
                  style="push">
            </command>
            <command
                  commandId="vn.enclave.peyton.fusion.command.deploy"
                  icon="icons/deployunit_project.png"
                  label="Deploy"
                  mode="FORCE_TEXT"
                  style="push">
            </command>
            <command
                  commandId="vn.enclave.peyton.fusion.command.report"
                  icon="icons/report.png"
                  label="Report"
                  mode="FORCE_TEXT"
                  style="push">
            </command>
            <separator
                  name="vn.enclave.peyton.fusion.separator"
                  visible="true">
            </separator>
            <command
                  commandId="vn.enclave.peyton.fusion.command.helpLinks"
                  icon="icons/help.png"
                  label="Help Links"
                  mode="FORCE_TEXT"
                  style="pulldown">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.trim.status?insertBefore=org.eclipse.jface.action.StatusLineManager">
         <toolbar
               id="vn.enclave.peyton.fusion.toolbarStatus">
            <command
                  commandId="vn.enclave.peyton.fusion.command.status"
                  icon="icons/status-info.png"
                  label="Status"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:vn.enclave.peyton.fusion.view.navigationViewPart?after=additions">
         <command
               commandId="navigationViewPart.popup.newProjectHandler"
               icon="icons/add_folder.png"
               label="New Project"
               mode="FORCE_TEXT"
               style="push">
         </command>
         <separator
               name="Separator01"
               visible="true">
         </separator>
         <command
               commandId="navigationViewPart.popup.newVersionHandler"
               icon="icons/version.png"
               label="New Version"
               mode="FORCE_TEXT"
               style="push">
         </command>
         <command
               commandId="navigationViewPart.popup.saveAsHandler"
               icon="icons/save_as.png"
               label="Save As"
               mode="FORCE_TEXT"
               style="push">
         </command>
         <separator
               name="Separator02"
               visible="true">
         </separator>
         <command
               commandId="navigationViewPart.popup.deleteVersionHandler"
               icon="icons/delete.png"
               label="Delete"
               mode="FORCE_TEXT"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:navigationViewPart">
         <command
               commandId="navigationViewPart.toolbar.refresh"
               icon="icons/refresh.png"
               label="Refresh"
               style="push">
         </command>
         <separator
               name="Separator01"
               visible="true">
         </separator>
         <command
               commandId="navigationViewPart.toolbar.showDevice"
               icon="icons/show_devices.png"
               label="Show Device"
               style="push">
         </command>
         <separator
               name="Separator02"
               visible="true">
         </separator>
         <command
               commandId="navigationViewPart.toolbar.add"
               icon="icons/add_folder.png"
               style="push">
         </command>
         <separator
               name="Separator03"
               visible="true">
         </separator>
         <command
               commandId="navigationViewPart.toolbar.cloneVersion"
               icon="icons/clone_version.png"
               label="Clone Version"
               style="push">
         </command>
         <command
               commandId="navigationViewPart.toolbar.save"
               icon="icons/save_as.png"
               label="Save"
               style="push">
         </command>
         <command
               commandId="navigationViewPart.toolbar.delete"
               icon="icons/delete.png"
               label="Delete"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:deviceTableViewPart">
         <command
               commandId="deviceTableViewPart.toolbar.refresh"
               icon="icons/refresh.png"
               label="Refresh"
               style="push">
         </command>
         <separator
               name="Separator01"
               visible="true">
         </separator>
         <command
               commandId="deviceTableViewPart.toolbar.add"
               icon="icons/add.png"
               label="Add"
               style="push">
         </command>
         <command
               commandId="deviceTableViewPart.toolbar.copy"
               icon="icons/copy.png"
               label="Copy"
               style="push">
         </command>
         <command
               commandId="deviceTableViewPart.toolbar.delete"
               icon="icons/delete.png"
               label="Delete"
               style="push">
         </command>
         <separator
               name="Separator02"
               visible="true">
         </separator>
         <command
               commandId="deviceTableViewPart.toolbar.importDevice"
               icon="icons/import-devices.png"
               label="Import Device"
               style="push">
         </command>
         <command
               commandId="deviceTableViewPart.toolbar.importZWave"
               icon="icons/import_zwave.png"
               label="Import ZWave"
               style="push">
         </command>
         <command
               commandId="deviceTableViewPart.toolbar.templateChild"
               icon="icons/template_child.png"
               label="Template Child"
               style="push">
         </command>
         <command
               commandId="deviceTableViewPart.toolbar.export"
               icon="icons/export.png"
               label="Export"
               style="push">
         </command>
         <separator
               name="Separator03"
               visible="true">
         </separator>
         <command
               commandId="deviceTableViewPart.toolbar.system"
               icon="icons/system.png"
               label="System"
               style="push">
         </command>
         <command
               commandId="deviceTableViewPart.toolbar.expand"
               icon="icons/expand.png"
               label="Expand"
               style="push">
         </command>
         <command
               commandId="deviceTableViewPart.toolbar.collapse"
               icon="icons/collapse.png"
               label="Collapse"
               style="push">
         </command>
         <separator
               name="Separator04"
               visible="true">
         </separator>
         <command
               commandId="deviceTableViewPart.toolbar.deviceChanged"
               icon="icons/device_changed.png"
               label="Device Changed"
               style="push">
         </command>
         <command
               commandId="deviceTableViewPart.toolbar.requestOnlineStatus"
               icon="icons/request_online_status.png"
               label="Request Online Status"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:addingDeviceViewPart">
         <command
               commandId="addingDeviceViewPart.toolbar.save"
               icon="icons/save_as.png"
               label="Save"
               style="push">
         </command>
         <command
               commandId="addingDeviceViewPart.toolbar.saveAndClose"
               icon="icons/save_and_close.png"
               label="Save And Close"
               style="push">
         </command>
         <separator
               name="Separator01"
               visible="true">
         </separator>
         <command
               commandId="addingDeviceViewPart.toolbar.updateDevice"
               icon="icons/device_update.png"
               label="Update Device"
               style="push">
         </command>
         <command
               commandId="addingDeviceViewPart.toolbar.showDevice"
               icon="icons/show_devices.png"
               label="Show Device"
               style="push">
         </command>
         <separator
               name="Separator02"
               visible="true">
         </separator>
         <command
               commandId="addingDeviceViewPart.toolbar.editService"
               icon="icons/service.png"
               label="Edit Service"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:areasTemplatesViewPart">
         <command
               commandId="areasTemplatesViewPart.toolbar.refresh"
               icon="icons/refresh.png"
               label="Refresh"
               style="push">
         </command>
         <separator
               name="Separator01"
               visible="true">
         </separator>
         <command
               commandId="areasTemplatesViewPart.toolbar.add"
               icon="icons/add.png"
               label="Add"
               style="push">
         </command>
         <command
               commandId="areasTemplatesViewPart.toolbar.zoneAddChild"
               icon="icons/zone_add_child.png"
               label="Add Child"
               style="push">
         </command>
         <command
               commandId="areasTemplatesViewPart.toolbar.delete"
               icon="icons/delete.png"
               label="Delete"
               style="push">
         </command>
         <separator
               name="Separator02"
               visible="true">
         </separator>
         <command
               commandId="areasTemplatesViewPart.toolbar.cut"
               icon="icons/cut.png"
               label="Cut"
               style="push">
         </command>
         <command
               commandId="areasTemplatesViewPart.toolbar.copy"
               icon="icons/copy.png"
               label="Copy">
         </command>
         <command
               commandId="areasTemplatesViewPart.toolbar.paste"
               icon="icons/paste.png"
               label="Paste"
               style="push">
         </command>
         <separator
               name="Separator03"
               visible="true">
         </separator>
         <command
               commandId="areasTemplatesViewPart.toolbar.up"
               icon="icons/arrow_up.png"
               label="Up"
               style="push">
         </command>
         <command
               commandId="areasTemplatesViewPart.toolbar.down"
               icon="icons/arrow_down.png"
               label="Down"
               style="push">
         </command>
         <separator
               name="Separator04"
               visible="true">
         </separator>
         <command
               commandId="areasTemplatesViewPart.toolbar.addAreaTemplate"
               icon="icons/area_template_new.png"
               label="Add Area Template"
               style="push">
         </command>
         <command
               commandId="areasTemplatesViewPart.toolbar.deleteAreaTemplate"
               icon="icons/area_template_del.png"
               label="Delete Area Template"
               style="push">
         </command>
         <command
               commandId="areasTemplatesViewPart.toolbar.save"
               icon="icons/save_as.png"
               label="Save"
               style="push">
         </command>
         <command
               commandId="areasTemplatesViewPart.toolbar.importAreaTemplate"
               icon="icons/area_template_import.png"
               label="Import Area Template">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:deviceTemplatesViewPart">
         <command
               commandId="deviceTemplatesViewPart.toolbar.refresh"
               icon="icons/refresh.png"
               label="Refresh"
               style="push">
         </command>
         <command
               commandId="deviceTemplatesViewPart.toolbar.templateEmpty"
               icon="icons/template_empty.png"
               label="Template Empty"
               style="push">
         </command>
         <command
               commandId="deviceTemplatesViewPart.toolbar.addTemplate"
               icon="icons/new_template.png"
               label="Add Template"
               style="push">
         </command>
         <command
               commandId="deviceTemplatesViewPart.toolbar.templateChild"
               icon="icons/template_child.png"
               label="Template Child"
               style="push">
         </command>
         <separator
               name="Separator01"
               visible="true">
         </separator>
         <command
               commandId="deviceTemplatesViewPart.toolbar.importIR"
               icon="icons/import_ir.png"
               label="Import IR"
               style="push">
         </command>
         <command
               commandId="deviceTemplatesViewPart.toolbar.import"
               icon="icons/import.png"
               label="Import"
               style="push">
         </command>
         <command
               commandId="deviceTemplatesViewPart.toolbar.export"
               icon="icons/export.png"
               label="Export"
               style="push">
         </command>
         <separator
               name="Separator02"
               visible="true">
         </separator>
         <command
               commandId="deviceTemplatesViewPart.toolbar.delete"
               icon="icons/delete.png"
               label="Delete"
               style="push">
         </command>
         <separator
               name="Separator03"
               visible="true">
         </separator>
         <command
               commandId="deviceTemplatesViewPart.toolbar.system"
               icon="icons/system.png"
               label="System"
               style="push">
         </command>
         <separator
               name="Separator04"
               visible="true">
         </separator>
         <command
               commandId="deviceTemplatesViewPart.toolbar.expand"
               icon="icons/expand.png"
               label="Expand"
               style="push">
         </command>
         <command
               commandId="deviceTemplatesViewPart.toolbar.collapse"
               icon="icons/collapse.png"
               label="Collapse"
               style="push">
         </command>
         <command
               commandId="deviceTemplatesViewPart.toolbar.hiddenTemplate"
               icon="icons/template_hidden.png"
               label="Hidden Template"
               style="push">
         </command>
         <command
               commandId="deviceTemplatesViewPart.toolbar.validate"
               icon="icons/validate.png"
               label="Validate"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:detailedDeviceTemplateViewPart">
         <command
               commandId="detailedDeviceTemplateViewPart.toolbar.save"
               icon="icons/save_as.png"
               label="Save"
               style="push">
         </command>
         <command
               commandId="detailedDeviceTemplateViewPart.toolbar.saveAndClose"
               icon="icons/save_and_close.png"
               label="Save And Close"
               style="push">
         </command>
         <separator
               name="Separator01"
               visible="true">
         </separator>
         <command
               commandId="detailedDeviceTemplateViewPart.toolbar.newTemplate"
               icon="icons/new_template.png"
               label="New Template"
               style="push">
         </command>
         <command
               commandId="detailedDeviceTemplateViewPart.toolbar.templateChild"
               icon="icons/template_child.png"
               label="Template Child"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:modifyingDeviceViewPart">
         <command
               commandId="modifyingDeviceViewPart.toolbar.save"
               icon="icons/save_as.png"
               label="Save"
               style="push">
         </command>
         <command
               commandId="modifyingDeviceViewPart.toolbar.saveAndClose"
               icon="icons/save_and_close.png"
               label="Save And Close"
               style="push">
         </command>
         <separator
               name="Separator01"
               visible="true">
         </separator>
         <command
               commandId="modifyingDeviceViewPart.toolbar.updateDevice"
               icon="icons/device_update.png"
               label="Update Device"
               style="push">
         </command>
         <command
               commandId="modifyingDeviceViewPart.toolbar.showDevice"
               icon="icons/show_devices.png"
               label="Show Device"
               style="push">
         </command>
         <separator
               name="Separator02"
               visible="true">
         </separator>
         <command
               commandId="modifyingDeviceViewPart.toolbar.editService"
               icon="icons/edit.png"
               label="Edit Service"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="vn.enclave.peyton.fusion.command.AddingProjectHandler"
            commandId="navigationViewPart.popup.newProjectHandler">
         <enabledWhen>
            <iterate>
               <or>
                  <adapt
                        type="vn.enclave.peyton.fusion.entity.Project">
                  </adapt>
                  <adapt
                        type="vn.enclave.peyton.fusion.entity.Plan">
                  </adapt>
                  <adapt
                        type="vn.enclave.peyton.fusion.entity.Version">
                  </adapt>
               </or>
            </iterate>
         </enabledWhen>
      </handler>
      <handler
            class="vn.enclave.peyton.fusion.command.AddingVersionHandler"
            commandId="navigationViewPart.popup.newVersionHandler">
         <enabledWhen>
            <iterate>
               <or>
                  <adapt
                        type="vn.enclave.peyton.fusion.entity.Project">
                  </adapt>
                  <adapt
                        type="vn.enclave.peyton.fusion.entity.Version">
                  </adapt>
               </or>
            </iterate>
         </enabledWhen>
      </handler>
      <handler
            class="vn.enclave.peyton.fusion.command.CloningVersionHandler"
            commandId="navigationViewPart.popup.saveAsHandler">
         <enabledWhen>
            <iterate>
               <adapt
                     type="vn.enclave.peyton.fusion.entity.Version">
               </adapt>
            </iterate>
         </enabledWhen>
      </handler>
      <handler
            class="vn.enclave.peyton.fusion.command.DeletingVersionHandler"
            commandId="navigationViewPart.popup.deleteVersionHandler">
         <enabledWhen>
            <iterate>
               <adapt
                     type="vn.enclave.peyton.fusion.entity.Version">
               </adapt>
            </iterate>
         </enabledWhen>
      </handler>
      <handler
            class="vn.enclave.peyton.fusion.command.AddingDeviceHandler"
            commandId="deviceTableViewPart.toolbar.add">
      </handler>
      <handler
            class="vn.enclave.peyton.fusion.command.SavingDeviceHandler"
            commandId="addingDeviceViewPart.toolbar.save">
      </handler>
      <handler
            class="vn.enclave.peyton.fusion.command.UpdatingDeviceHandler"
            commandId="modifyingDeviceViewPart.toolbar.save">
      </handler>
   </extension>
</plugin>
